table.table {
  width: 100%;
  table-layout: fixed;
}

.calendar table.table {
  table-layout: inherit;
}

table td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#institución_title {
  color: #3F5F79;
  font-size: 2em;
}

.header {
  color: #3F5F79 !important;
  font-size: 20px !important;
}

.extra-left {
  color: #3F5F79 !important;
  font-size: 20px !important;
  display: inline-block;
}

.extra-right {
  color: #3F5F79 !important;
  font-size: 20px !important;
  float: right;
  display: inline-block;
  cursor: pointer;
}

table tr td:last-child  > button{
    margin: 0.25em !important;
}

#menu {
	/*background-color: #44647A;*/
    height: 100px;
	margin-bottom: 0px;
}

#menu .header {
	font-size: 2em;
}

#submenu {
	/*background-color: #F1F4F6;*/
	margin-top: 0px;
	/*height: 80px;*/
}
#pag {
  border: 0px;
}

#submenu .header {
	/*color: #516F83;*/
	font-size: 2em;
}

#side_menu {
	padding: 50px;
	bottom: 0;
	/*background-color: #F8F8F8;*/
}

#module_container {
	padding: 30px;
    height: 100%;
}

#profiles_container{
	padding: 30px;
}

#institution_container{
	padding: 30px;
}

.square {
    float;
    position: relative;
    width: 90%;
    padding-bottom : 25px; /* = width for a 1:1 aspect ratio */
    margin: 20px;
    background-color:#D0D8DE;
    overflow:hidden;
    color: #436277;
    font-weight: bold;
    font-style: oblique;
    height: 120px;

}

.square mat{
	margin-top: 50px;
}

.square .content {

    margin-top: 10px;
    font-size: 20px;

}

.rectangle {
    float;
    position: relative;
    width: 90%;
    height: 120px;
    margin: 20px;
    background-color:#E8ECEE;
    overflow:hidden;
    color: #436277;
    font-weight: bold;
}

.rectangle .content {
    margin-left: 60px;
    margin-top: 15px;
    font-size: 20px;

}

.squares{
	float:left;
}

#squaremon{
	position: relative;
	margin-left: 0px;
	margin-top: 10px;
}

.editIns{
	position: fixed;
  height: 50px;
  width: 50px;
  border-radius: 25px !important;
	bottom: 1em;
	right: 1em;
}

.institutions_general_configuration_form{
	float;
	position: absolute;
	margin-top: 196px;
}

.configuration_form{
  float;
  position: absolute;
  margin-top: 196px;
}

.general_info_title{
	margin-top: 80px;
}

.edit_institution_title{
	float:left;
	position: absolute;
	margin-top: 48px;
	margin-left: 17px;
}

#general_info_form{
	margin-left: 100px;
	margin-top: 40px;
	width: 300px;
}

#general_info_form_two input{
	margin-bottom: 10px;
}

#general_info_form_two{
  margin-left: 120px;
  margin-top: 40px;
  width: 300px;
}

#general_info_form input{
  margin-bottom: 10px;
}

.menu_seccion ul {
  list-style-type: none;
  position: relative;
  display: block;
  margin: 0;
  padding: 0;

}

.menu_seccion li {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100px;

}

.menu_seccion{
	padding-left: 0px;
	margin-top: 0px;

}


#tel_form{
	float:right;
	margin-top: 239px;
	margin-left: 50px;

}

#second_part_form{


}

#second_part_form{
  float:right;
  margin-top: 239px;
  margin-left: 50px;

}

.tel_institution_title{
	float:left;
	position: absolute;
	margin-left: 40px;
	margin-top: 10px;
}

.matriculation_title{
  float:left;
  position: absolute;
  margin-left: 40px;
  margin-top: 10px;
}


.squares img{
  margin-left: 72px;
}

.edit_institution_menu a:hover, a:focus, a:active {
    color: #436277;
    text-decoration: none;
}

.edit_institution_menu a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 50%;
    background-color: #436277;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}

.edit_institution_menu a:active::before {
    background-color: #436277;
}

.edit_institution_menu a:hover::before, a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

.edit_institution_menu ol, ul {
    list-style: none;
    padding-left: 0px;
}

.edit_institution_menu li {
    display: inline-block;
    padding: 20px 0 20px;
    vertical-align: middle;
}

.edit_institution_menu a:hover, a:focus, a:active {
    color: #436277;
    text-decoration: none;

}

.edit_institution_menu a {
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
}

.edit_institution_menu a {
    position: relative;
    display: block;
    padding: 16px 0;
    margin: 0 12px;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    text-transform: uppercase;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: #436277;
}

.edit_institution_menu a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #436277;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}

.edit_institution_menu a:active::before {
    background-color: #436277;
}

.edit_institution_menu a:hover::before, a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

.edit_institution_menu{
  position: absolute;
  float: left;
  margin-top: 130px;
}

.item .item_one{

}

.institutions_general_configuration_form{
  left: 20px;
}

.configuration_form{
  left: 20px;
}

.img_preview {
    max-width: 100%;
    max-height: 208px;
}

.img_preview.mini {
    max-width: 50px;
    max-height: 39px;
}

.img_profile {
    width: 28px !important;
    height: 28px !important;
    border-radius: 50% !important;
}

.aline {
    margin-top: 18px !important;
    display: inline-block !important;
    vertical-align: bottom;
}

.must-hide {
    display: none !important;
}

.fab {
    position: fixed;
    bottom: 1em;
    right: 1em;
}

#main_grid {
    padding-top: 102px;
    height: 100%;
}

#main_grid > div {
    margin: 0 auto;
}

.top-bar {
    padding: 1em 2em;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    background: white;
}

.blue-card {
    background: #44647A !important;
    border: 1px solid #44647A !important;
    max-height: 50%;
    /*max-width: 200px !important;*/
}

.blue-card .image {
    background: white !important;
    /*height: calc(100% - 50px);*/
    height: 85%;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.blue-card .image img {
    max-height: 100%;
    padding: 1em;
}

.blue-card .header {
    color: white !important;
}

.blue-card .content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.padding-30 {
    padding: 30px;
}

.ui.popup.calendar {
    z-index: 200 !important;
}

#container_menu {
    height: 100%;
}

#pictures {
    height: 100%;
}
/*  For list */
