.right {
    float: right;
}

.full-size {
    height: 100%;
    width: 100%;
}

.flex-container {
    display: flex;
}

.flex-center {
    align-items: center;
    align-self: center;
    justify-content: center;
}
