.ui .card .content {
    padding: 0 !important;
}

.description .image,
.description .form {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.description .image {
    float: left;
}

.description .image img {
    width: 100%;
}

.description .form {
    padding: 1.5em;
}
